
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-center vh-100">
    <h1 class="display-4 fw-bold align-content-center">Welcome Admin Panel</h1>
</div>
