@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (Context.Session.GetString("UserEmail") != null)
    {
        <script>
            window.location.href = '@Url.Action("Index", "Home")';
        </script>
    }
}
<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="card shadow w-50">
        <div class="card-body">
            <h3 class="text-center text-primary fw-bold mb-4">Đăng nhập</h3>

            <form asp-action="DangNhap" method="post">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input name="email" type="email" class="form-control" value="@ViewBag.Email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Mật khẩu</label>
                    <input name="matkhau" type="password" class="form-control" value="@ViewBag.Matkhau" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
            </form>

            @if (TempData["ErrorLogin"] != null)
            {
                <div class="alert alert-danger mt-3">@TempData["ErrorLogin"]</div>
            }

            <div class="d-flex justify-content-between mt-3">
                <div>
                    Bạn chưa có tài khoản?
                    <a asp-action="DangKy" class="text-decoration-none">Đăng ký ngay</a>
                </div>
                <div>
                    <a asp-action="QuenMatKhau" class="text-decoration-none">Quên mật khẩu</a>
                </div>
            </div>

        </div>
    </div>
</div>
