
@{
    ViewData["Title"] = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4 ps-3 w-50 h-100">
    <div class="shadow border-1 border-info bg-light text-black-50">   
        <section class="mb-4 bg-light p-3 border-start border-primary border-3">
            <h3 class="text-secondary mb-3">Giới thiệu</h3>
            <p>
                Đong đưa theo nhịp phát triển của nền tảng công nghệ thông tin, thương mại điện tử đã trở thành một bộ phận cốt lõi không thể tách rời của nền kinh tế thị trường. Mô hình kinh doanh thương mại điện tử đem lại lợi ích tối ưu cho doanh nghiệp, đồng thời tạo điều kiện thuận lợi cho người tiêu dùng trong việc mua sắm trực tuyến. Để bắt kịp với thời đại, phần lớn doanh nghiệp trong mọi lĩnh vực đều bắt tay vào bán hàng theo hình thức trực tuyến. Đối với mặt hàng nhạc cụ, với mức nhu cầu người tiêu dùng mong muốn mua sắm nhạc cụ như guitar, piano, trống, sáo, ukulele… thông qua hình thức trực tuyến ngày càng tăng. Người tiêu dùng mong muốn có thể dễ dàng tra cứu thông tin sản phẩm, xem hình ảnh, tham khảo giá, đọc đánh giá và đặt hàng ngay tại nhà mà không cần mất thời gian đến cửa hàng truyền thống.
            </p>
            <p>
                Xuất phát từ thực tế đó, nhóm em đã lựa chọn và thực hiện đề tài “Xây dựng website bán nhạc cụ” với mong muốn tạo ra một giải pháp trực tuyến giúp kết nối giữa người bán và người mua một cách nhanh chóng, tiện lợi và hiệu quả.
            </p>
            <p>
                Thông qua quá trình thực hiện đề tài, nhóm mong muốn củng cố và vận dụng các kiến thức đã học về lập trình web, cơ sở dữ liệu, phân tích và thiết kế hệ thống, đồng thời rèn luyện kỹ năng làm việc nhóm, quản lý dự án và tư duy logic. Do kiến thức và kinh nghiệm lập trình, thiết kế còn hạn chế nên phần mềm của nhóm em còn có nhiều thiếu xót. Rất mong được sự đóng góp của thầy để phần mềm của nhóm được hoàn thiện hơn nữa.
            </p>
        </section>
    </div>
</div>

