@model WebApp_BanNhacCu.Areas.Admin.MyModels.CNhanVien

@{
    ViewData["Title"] = "formThemTK";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center fw-bold mt-5 mb-5">Thêm Tài Khoản</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="themTK" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="MaNv" />
            </div>
            <div class="form-group">
                <label asp-for="Tennv" class="control-label"></label>
                <input asp-for="Tennv" class="form-control" />
                <span asp-validation-for="Tennv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matkhau" class="control-label"></label>
                <input asp-for="Matkhau" class="form-control" />
                <span asp-validation-for="Matkhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cccd" class="control-label"></label>
                <input asp-for="Cccd" class="form-control" />
                <span asp-validation-for="Cccd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label"></label>
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="MaVt" value="@ViewBag.DSVaitro" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Hình</label>
                <input type="file" name="filehinh" class="form-control" />
            </div>
            <div class="form-group d-flex justify-content-end mt-2">
                <a class="btn btn-outline-info me-3 " asp-action="Index">Quay lại</a>
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>